.gcloudignore
.git
.gitignore
#!include:.gitignore
update_data/*
!update_data/Module2_Routing, Graph Shrinking, and Logistics under Hardware Constraints.docx
!update_data/Module2_Routing, Graph Shrinking, and Logistics under Hardware Constraints.mp4
!update_data/Module3_Quantum Vision, GNN, and Few-Shot Hybrid Architectures.docx
!update_data/Module3_Quantum Vision, GNN, and Few-Shot Hybrid Architectures.mp4
!update_data/Module4_Expressive Bottlenecks Compression, Language, and Explanation.docx
!update_data/Module4_Expressive Bottlenecks Compression, Language, and Explanation.mp4
!update_data/Module6_From Algorithmic Novelty to Sustainable Hybrid Systems.docx
!update_data/Module6_From Algorithmic Novelty to Sustainable Hybrid Systems.mp4
