NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
API_BASE_URL=http://127.0.0.1:8000
ENABLE_DEMO_AUTH=true
NEXT_PUBLIC_ENABLE_DEMO_AUTH=true
NEXT_PUBLIC_COOKIE_DOMAIN=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
